.cart__item-info img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.cart__product-title {
  font-size: 0.8rem;
  font-weight: 600;
}
.cart__product-price {
  font-size: 0.8rem;
}
.cart__product-price span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--mainColor);
}
.increase__decrease-btn {
  background: var(--borderColor);
  padding: 2px 5px;
  border-radius: 5px;
  display: inline-flex;
  gap: 20px;
  align-items: center !important;
}
.increase__btn,
.decrease__btn,
.delete__btn {
  cursor: pointer;
}
.delete__btn {
  font-size: 1.1rem;
  font-weight: 600;
}
.cart__item {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borderColor) !important;
}
