.checkout__bill {
  background: var(--borderColor);
  padding: 30px;
}
.checkout__bill h6,
.checkout__bill h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout__total {
  border-top: 1px solid #ddd;
  padding-top: 30px;
}
@media only screen and(max-width: 768px) {
  .checkout__bill h6 {
    font-size: 0.9rem;
  }
  .checkout__bill {
    margin-top: 30px;
  }
}
