.paginationBttns {
  width: 80%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  list-style: none;
  margin-top: 30px;
}
.paginationBttns a {
  padding: 5px 13px;
  background-color: var(--mainColor);
  color: #fff !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s;
}
.paginationBttns a:hover {
  background-color: #990606;
}
.paginationBttns .previous.disabled,
.paginationBttns .next.disabled {
  display: none;
}
