.product__item {
  border: 1px solid var(--borderColor);
  text-align: center;
  padding: 20px 15px;
  cursor: pointer;
  display: block;
}
.product__img {
  margin-bottom: 20px;
  transition: all 0.4s;
}
.product__item img {
  transition: all 0.4s !important;
}
.product__item:hover img {
  transform: scale(1.2);
}
.product__content h5 a {
  color: var(--fontColor2);
  font-size: 0.9rem;
}
.product__content h5 {
  margin-bottom: 30px;
}
.product__price {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--mainColor);
}
.addToCart__btn {
  border: none;
  padding: 10px 25px;
  background: var(--mainColor);
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
}
