.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .3s;
  background: rgba(0, 0, 0, 0.693);
  z-index: 999999;
}
.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  z-index: 9999999;
}
.cart__close {
  width: 100%;
  height: 50px;

  padding: 10px 15px;
}
.cart__close span i {
  font-size: 1.1rem;
  background-color: var(--fontColor2);
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.cart__item-list {
  height: calc(100vh - 130px);
  overflow-y: auto;
}
.cart__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  width: 100%;
  height: 80px;
  background: var(--mainColor);
}
.cart__bottom h6 {
  font-size: 1rem;
  color: #fff;
}
.cart__bottom h6 span {
  font-size: 1.3rem;
  font-weight: 600;
}
.cart__bottom button {
  border: none;
  padding: 4px 20px;
  border-radius: 5px;
  background: #fff;
  color: var(--fontColor2);
}
.cart__bottom button a {
  color: var(--fontColor2);
  font-weight: 600;
}
